*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --body-color:rgb(209, 209, 209);
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}
body{
    background-color: var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 150px;
    margin-right: 40px;
}
.left-nav, .right-nav{
    display: flex;
    align-items: center;
}
.left-nav ul li{
    display: inline-block;
    list-style: none;
}
.left-nav ul li img{
    width: 24px;
    margin: 0px 15px;
}
.user-pic img{
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.user-pic{
    margin-left: 30px;
}
.search-bar{
    display: flex;
    align-items: center;
    background: var(--body-color);
    width: 350px;
    padding: 0 15px;
    border-radius: 30px;
}
.search-bar img{
    width: 20px;
}
.search-bar input{
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    background: transparent;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    height: 7px;
    width: 7px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    background-color: rgb(65,219,81);
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    display: flex;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.right-sidebar {
    display: flex;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(98, 98, 98);
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: rgb(29, 98, 215);
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid var(--nav-color);
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: var(--bg-color);
    font-size: 16px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-2.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-3.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-4.png);
}
.story5{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(images/status-5.png);
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 6px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    color: #626262;
    padding: 20px;
    margin: 20px 0;
}
.user-profile span{
    font-size: 12px;
    color: #9a9a9a;
}
.cup{
    font-size: 14px;
    margin: 15px 0;
    color: #9a9a9a;
}
.cup a{
    color: var(--nav-color);
    text-decoration: none;
}
.post-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}
.post-row a{
    color: #9a9a9a;
}
.load-more-btn{
    display: block;
    color: #626262;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}
.footer{
    text-align: center;
    font-size: 14px;
    color: #9a9a9a ;
    padding: 10px 0 20px;
}
.setting-menu{
    position: absolute;
    max-width: 350px;
    width: 90%;
    max-height: 0;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    transition: max-height 0.3s;
}
.setting-menu-height{
    max-height: 380px;
}
.user-profile a{
    font-size: 12px;
    color: rgb(29, 98, 215);
    text-decoration: none;
}
.setting-menu-inner{
    padding: 20px;
}
.setting-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-link{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-link .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-link a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #9a9a9a;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s ;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background:#ccc;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}